#tittle {
position: absolute;
width: 45vw;
height: 82px;
left: 2.5vw;
top: 45px;
font-family: 'Syne';
font-style: normal;
font-weight: 700;
font-size: 58px;
line-height: 77px;
color: #000000;
}

#tittle-box {
position: absolute;
width: 45vw;
height: 135px;
left: 2.5vw;
top: 54px;
}

#input-field{
box-sizing: border-box;
position: absolute;
width: 32vw;
height: 11vh;
left: 40vw;
top: 36vh;
background: #FFFFFF;
border: 5px solid #FFBC38;
text-align: center;
font-family: 'Syne';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 38px;
text-align: center;
color: rgb(0, 0, 0, 0.55);
}

#output-field {
box-sizing: border-box;
position: absolute;
width: 32vw;
height: 30vh;
left: 40vw;
top: 50vh; 
background: #FFFFFF;
border: 5px solid #FFBC38;
vertical-align: auto;
font-family: 'Syne';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 250px;
text-align: center;
color: rgb(0, 0, 0, 0.55);
}

::placeholder {
font-family: 'Syne';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 38px;
color: #000000;
opacity: 0.55;
}

[contentEditable=true]:empty:not(:focus):before {
content: attr(data-text);
position: absolute;
top: 40%;
left: 18%;
font-family: 'Syne';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 38px;
text-align: center;
color: #000000;
opacity: 0.55;
}

#fetch-btn {
box-sizing: border-box;
position: absolute;
width: 140px;
height: 140px;
left: 68vw;
top: 40vh;
background: #FFFFFF;
border: 5px solid #FFBC38;
border-radius: 50%;
font-family: 'Syne';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 38px;
text-decoration-line: underline;
color: #000000;
transform: rotate(-28.5deg);
}

#detail-tab-one {
background-color: white;
position: absolute;
width: 24vw;
height: 133.94px;
left: 73vw;
top: 120px;
font-family: 'Syne';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 36px;
color: #FFAE10;
transform: rotate(32.83deg);
text-align: left;
}

#detail-tab-two {
position: absolute;
width: 27vw;
height: 123.95px;
left: 6vw;
top: 50vh;
font-family: 'Syne';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 36px;
color: #FFAE10;
transform: rotate(-33.11deg);
background-color: white;
text-align: left;
}

#emoji-set-one {
position: absolute;
width: 13vw;
height: 25vh;
left: 34vw;
top: 66vh;
filter: drop-shadow(1px 8px 9px rgba(0, 0, 0, 0.25));
transform: rotate(12deg);
}

#emoji-set-two {
position: absolute;
width: 20vw;
height: 35vh;
left: 82vw;
top: 70vh;
filter: drop-shadow(-2px 10px 8px rgba(0, 0, 0, 0.25));
transform: rotate(-20.05deg);
}

