#tittle {
position: absolute;
width: 680px;
height: 82px;
left: 125px;
top: 45px;

font-family: 'Syne';
font-style: normal;
font-weight: 700;
font-size: 58px;
line-height: 77px;

color: #000000;
}

#tittle-box {
position: absolute;
width: 675px;
height: 135px;
left: 124px;
top: 54px;
}