@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

body {
  text-align: center;
  background-image: url(/src/assets/Frame1.svg);
  background-color: #000000;
  font-family: 'Michroma', sans-serif;
}